body {
    font-family: 'Comic Sans MS', sans-serif;
    background: lightblue radial-gradient(white, lightblue);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.current-day {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    z-index: 10; /* To ensure the day of the week remains above the border */
    position: relative;
}

.container {
    border: 5px solid black;
    padding: 20px;
    height: 70vh; /* Reduced height for better fitting */
    width: 60%; /* Adjusting the width of the container to prevent cutting data off */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* Ensuring that the contents don't overflow outside */
}

.content {
    animation: autoscroll 30s linear infinite;
    height: 100%; /* Ensuring the content takes the full height of its container */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* Hide the overflowing part of the content during scrolling */
}

.child-name {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.room, .time {
    margin-bottom: 10px;
}

@keyframes autoscroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100% + 100vh);
    }
}
