body {
    font-family: 'Comic Sans MS', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: relative;
    background: radial-gradient(circle at center, rgba(255, 193, 224, 0.75), rgba(173, 216, 230, 0.75)); /* Gradient from light pink to light blue with reduced opacity */
}

.current-day {
    font-size: 24px;
    font-weight: bold;
    margin: 30px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 80vh;
    width: 80%;
    border: 2px solid #f0f0f0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: autoscroll 60s linear infinite alternate;
}

.child-name {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 5px;
}

.room, .time {
    margin-bottom: 15px;
}

.star {
    position: absolute;
    background-color: currentColor;
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
    animation: float 3s infinite alternate;
    opacity: 0.6;
}

@keyframes float {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-20px);
    }
}

@keyframes autoscroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
