body {
    background: radial-gradient(white, lightblue);
    height: 100vh;
    font-family: 'Comic-Sans', sans-serif;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.star {
    position: absolute;
    opacity: 0.6; /* 60% transparency */
    background-color: red; /* This is just a placeholder; we will randomize it with JS */
    width: 10px;
    height: 10px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    animation: float 5s infinite alternate;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-20px);
    }
}

.container {
    z-index: 2;
    position: relative;
}
.info div {
    text-align: center; /* This will center-align the text within each div */
}
.container {
    display: flex;
    justify-content: center; /* Horizontally centers .info in .container */
    align-items: center; /* Vertically centers .info in .container */
    height: 100vh; /* This ensures .container takes up the full viewport height */
}
